<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


    <!--设置放过的页面-->
    <!-- 以下页面不被拦截 -->
    <http pattern="/login.html" security="none"></http>
    <http pattern="/css/**" security="none"></http>
    <http pattern="/img/**" security="none"></http>
    <http pattern="/js/**" security="none"></http>
    <http pattern="/admin/*.html" security="none"></http>

    <!---use-expressions 关闭sping的el表达式-->
    <http use-expressions="false">
        <intercept-url pattern="/**" access="ROLE_USER"/>
        <!--是否开启表单提交-->
        <form-login login-page="/login.html"
                    authentication-success-forward-url="/admin/index.html"
                    authentication-failure-url="/login.html"
                    default-target-url="/admin/index.html"
                    always-use-default-target="true"
        />

        <logout logout-success-url="/login.html"/>

        <csrf disabled="true"></csrf>

        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>

    </http>

    <!---认证的管理-->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="admin" authorities="ROLE_USER"/>
                <user name="zhaosi" password="zhaosi" authorities="ROLE_USER"/>
            </user-service>

        </authentication-provider>
    </authentication-manager>

</beans:beans>